/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #0f172a;
  color: #e5e7eb;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  padding: 60px 10%;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: #020617;
  border-bottom: 1px solid #1f2937;
  z-index: 100;
}

.logo {
  font-size: 1.4rem;
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  font-weight: bold;
}

/* Hero (Home) */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  min-height: 70vh;
}

.hero-text h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.hero-text span {
  color: #38bdf8;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  color: #a5b4fc;
  font: bolder;
}

.subtitle {
  color: #9ca3af;
}

.hero-image img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38bdf8;
}

/* About */
#about p {
  max-width: 700px;
  color: #9ca3af;
}
#about{
    color: #66c1eb;
}

/* Skills */
.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.skills-list li {
  background-color: #1f2937;
  padding: 8px 14px;
  border-radius: 999px;
  border: 1px solid #4b5563;
}

/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.project-card {
  background-color: #1f2937;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #374151;
}

.project-card h3 {
  margin-bottom: 8px;
}

/* Buttons */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #38bdf8;
  color: #020617;
  border-radius: 6px;
  font-weight: bold;
  border: none;
}

.btn:hover {
  background-color: #0ea5e9;
}

/* Contact */
.contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #4b5563;
  background-color: #020617;
  color: #e5e7eb;
}
/* Footer */
.footer {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #1f2937;
  background-color: #020617;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    order:-1;
}
}